<ActionBar title="Home">    
</ActionBar>

<GridLayout rows="auto,*">
    <GridLayout row="0">
        <StackLayout>
            <Button text="enable Location" (tap)="enableLocationTap()"></Button>
            <Button text="Get Current Location" (tap)="buttonGetLocationTap()"></Button>
            <Label [text]="currentLocation"></Label>
            <Label [text]="latitude"></Label>
            <label [text]="longitude"></label>
            <Label [text]="fbUser.name"></Label>
            <Label [text]="fbUser.id"></Label>
            <Label [text]="fbUser.avatar"></Label>
            <Button text="Log out of FaceBook" (tap)="logout()"></Button>
            <Button text="Status Check" (tap)="statusCheck()"></Button>
        </StackLayout>
    </GridLayout>
    <GridLayout row="1" >
        <Image [src]="fbUser.avatar" className="speaker-image" stretch="aspectFit"></Image>
    </GridLayout>
</GridLayout>